*
{
	font-family: Hack, monospace;
	color: #dadada
}

.outer
{
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	background: #1c1c1c
}

.middle
{
	display: table-cell;
	vertical-align: middle;
}

.inner
{
	margin: auto;
	text-align: center;
}

.title
{
	font-size: 3em;
	color: #ff0000;
}

/* Overriding some of Pure's styles */

.pure-table
{
	border: 2px solid #444444;
}

.pure-table td,
.pure-table th
{
	border-left: 2px solid #444444;
}

.pure-table thead
{
	background-color: #262626;
	border-bottom: 2px solid #444444;
	text-align: center;
}

.pure-table-bordered td
{
	border-bottom: 2px solid #444444;
}
